.page {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  scroll-behavior: smooth;
  /* scroll-padding-top: 110px; */
  scrollbar-gutter: stable;

}

.page__body {
  min-width: 375px;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
.page__body--no-scroll {
  overflow-y: hidden;
}
.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}
a:focus-visible,
button:focus-visible,
input:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}
img {
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--second-family);
  font-weight: 400;
  color: var(--main-color);
}
@media(width > 768px){
  .title {
  font-size: 42px;
}
}
@media(width <= 768px){
  .title {
  font-size: 26px;
}
}
@media(width <= 390px){
  .title {
  font-size: 20px;
}
}
.text-light {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-color);
}
.text-regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--secondary-color);
}

@media (width > 768px) {
  .section {
    margin-block: 150px;
  }
}
@media (width <= 768px) {
  .section {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}
@media (width <= 576px) {
  .section {
    margin-top: 46px;
    margin-bottom: 46px;
  }
}

.button{
   width: fit-content;
  background-color: var(--main-color);
  color: #fff;
}
.button {
  transition: background-color var(--transition-time);
}
.button {
  transition: background-color var(--transition-time);
}
.button:disabled {
  background-color: #ababab;
  cursor: not-allowed;
}
@media (width > 1024px) {
.button {
    padding: 15.5px 42.5px;
     margin-top: 70px;
    font-size: 24px;
  }
}
@media (width <= 1024px) {
.button {
    padding: 12px 36px;
      margin-top: 55px;
    font-size: 20px;
  }
}
@media (width <= 768px) {
.button {
    padding: 7px 26px;
    margin-top: 40px;
    font-size: 16px;
  }
}
@media (width <= 390px) {
.button {
    padding: 8px 25px;
    margin-top: 36px;
    font-size: 15px;
  }
}
@media (any-hover: hover) {
.button:hover {
    background-color: var(--accent-color);
  }
.button:not(:disabled):hover {
    background-color: var(--accent-color);
  }
}